body {
	background:#0000cc;
;
}s
}
h2{
	color:#669999;
}
#title{
	background:red;
width:600px;
padding-bottom:15px;
padding-left:15px;
border-radius: 15px}
p{
	color:#000000;
}
a{
	color:red;
}
h1{
	color:#000000;
}
padding-bottom:15px;
#main{
	background:red;
width:600px;
padding:10px;
margin-top:15px;}
}